<!-- edit-dataset-details.ejs -->
<div>
  <h2>Edit Data Set</h2>
  <div class="row">
  <form action="dataset/save" method="POST" class="form-horizontal" >
    <input type="hidden" name="datasetId" value="<%- id %>"/>
    <div class="form-group">
      <label for="dataset.name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="dataset.name" id="dataset.name" required ><%- dataset.name %></input>
      </div>
    </div>
    <div class="form-group">
      <label for="dataset.source" class="col-sm-2 control-label">Source</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="dataset.source" id="dataset.source" required ><%- dataset.source %></input>
      </div>
    </div>
    <hr class="dotted">
    <div class="form-group l-mar-10">
      <button class="btn btn-theme" type="submit">Save</button> 
    </div>
  </form>
</div>
