<table class="table table-stripped" id='dataSetTable'>
  <thead>
   <tr>
    <% fields.forEach((field) => { 
      var fldName = (field.name ? field.name : field)
    %>
        <th><%- morph.toTitle(fldName) %></th>
    <% }) %>
  </tr>
  </thead>
  <tbody>
    <% rows.forEach((row) => { %>
      <tr>
        <% fields.forEach((field) => { 
          var fldName = (field.name ? field.name : field)
        %>
          <td><%= row[fldName] %></td>
        <% }) %>
      </tr>
    <% }) %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $('#dataSetTable').DataTable();
});
</script>