<!-- detail page for dataset shows all datarow elements -->
<div class="row">
  <div class="col-md-12"><p><b>Description:</b>&nbsp;<%= set.description %> </p></div>
</div>
<div class="row">
  <div class="col-md-12"><p><b>Source:</b>&nbsp;<%= set.source %> </p></div>
</div>
<table class="table table-stripped" id='dataSetTable'>
  <thead>
   <tr>
    <% fields.forEach((field) => { 
      var fldName = (field.name ? field.name : field)
    %>
        <th><%- morph.toTitle(fldName) %></th>
    <% }) %>
  </tr>
  </thead>
  <tbody>
    <% rows.forEach((row) => { %>
      <tr>
        <% fields.forEach((field) => { 
          var dataKey = (field.name ? field.name : field)
        %>
          <td><%= row[dataKey] %></td>
        <% }) %>
      </tr>
    <% }) %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $('#dataSetTable').DataTable();
});
</script>